In [10]:
# Dynamic list creation
# li=[] or li=list() -->empty list
# input:enter a range: 5
#[1,2,3,4,67]
li = []
n = int(input("enter a range:"))
for i in range(n):
    val = int(input("enter a value:"))
    li.append(val)                 #method to specify store values in list
print(li)

enter a range:3
enter a value:56
enter a value:78
enter a value:98
[56, 78, 98]

In [13]:
# li = [12,34,44,55,75,23,456,232]
#o/p:[12,34,44,456,232]
#printsum([12,34,44,456,232])
li = []
n = int(input("enter a range:"))
for i in range(n):
    val = int(input("enter values:"))
    li.append(val)
print(li)

enter a range:8
enter values:12
enter values:34
enter values:44
enter values:55
enter values:75
enter values:23
enter values:456
enter values:232
[12, 34, 44, 55, 75, 23, 456, 232]

In [26]:
li = [12,34,44,55,75,23,456,232]
#o/p:[12,34,44,456,232]
#printsum([12,34,44,456,232])
eli = []
for val in li:
    if val%2==0:
        eli.append(val)
print(eli)

[12, 34, 44, 456, 232]

In [27]:
li = [12,34,44,55,75,23,456,232]
eli = []
for val in li:
    
    if val%2==0:
        eli.append(val)
print(eli)
sm=0
for i in eli:
    sm += i
print(sm)

[12, 34, 44, 456, 232]
778

In [28]:
li = [12,34,44,55,75,23,456,232]
eli = []
for val in li:
    if val%2==0:
        eli.append(val)
print(eli)
print(sum(eli))   #sum() is a predefined one

[12, 34, 44, 456, 232]
778

### Remove the duplicate elements in a list
 - in registration we use it

In [36]:
li = [11,22,11,22,25,23,25,36,39,42]
for i in li:
    print(i,end=" ")

11 22 11 25 36 36 11 25

In [40]:
li = [11,22,11,22,25,23,25,39,39,42]
li2 = []
for i in li:
   # print(i,end=" ")
   if i not in li2:
        li2.append(i)       #li2=[11,22,25,23,39,42]
print(li2)

[11, 22, 25, 23, 39, 42]

In [ ]:
# print the even no. is assending order and print odd no. in descending order
# [1,2,3,4,5,6,7,8,9]
#o/p:[2,4,6,8,9,7,5,3,1]
li = [1,2,3,4,5,6,7,8,9]
for i in li:

In [1]:
def leap(year):
    leap = False
    if(year%400==0):
        return leap
    year = int(input())
    #print leap(year)

In [3]:
leap