### Left shift

In [1]:
2<<1
#2-->0010
#0100-->4
#value inc

4

In [2]:
2>>1
#2--->0010
#0001--->1
#value dec

1

In [3]:
2>>2
#2-->0010
# 0000--->0

0

In [4]:
2<<2
#2-->0010
#0100
 #1000--->8

8

### keywords
- Assignment operators
- Membership operators
- Identity operators

### Assignment operators
- +=,-=,*=,%=,/=,**=,//=,<=,>=,==

In [2]:
a=10

In [3]:
a

10

In [4]:
a-=2

In [5]:
a

8

In [6]:
a+=1

In [7]:
a

9

In [8]:
a*=2

In [9]:
a

18

### membership operators
- by using this operators we will identify a perticular elements belong to group or not
- they are in,not in

In [11]:
arr = [1,2,3,4,5,6]

In [12]:
arr

[1, 2, 3, 4, 5, 6]

In [18]:
arr = [5,6,7,8,9,0]
inp=3
inp in arr

False

In [19]:
5 in arr

True

In [20]:
s1 = 'siva sai'
'v' in s1

True

In [21]:
'siva' in s1

True

In [22]:
bits ='001001000111'
'00' in bits

True

In [23]:
4 not in arr

True

In [24]:
arr

[5, 6, 7, 8, 9, 0]

### identity operators
- by using these operators we compare values 
- they are is,is not

In [25]:
'abc' is 'abc'

True

In [26]:
'abc' is 'cbd'

False

In [27]:
123 is 123

True

In [29]:
123 is not 12345

True

## Conditional control statements
-  it controls the flow of execution based on condition
- for that we have few diff types of stmts 
  - conditional stmts
  - looping stmts
  - jump stmts

### conditional stmts
- if
    - if(condition):
           stmts
- if else
- nested 
- else if ladder

In [30]:
if (5<6):
    print('true')

true

In [31]:
if (5<6):
    print('true')
    print('5 is small')

true
5 is small

In [32]:
if (5<6):
    print('i am inside if')
    print('5 is small')
print('i am out of if')

i am inside if
5 is small
i am out of if

In [33]:
if (51<6):
    print('i am inside if')
    print('5 is small')
print('i am out of if')

i am out of if

In [39]:
if (4>7):
    print('i am inside if')
else:
    print('i am inside else block')

i am inside else block

In [40]:
if (4<7):
    print('i am inside if')
else:
    print('i am inside else block')

i am inside if

In [42]:
if (23>7):
    print('i am inside if')
else:
    print('i am inside else block')
print('i am going to exit')

i am inside if
i am going to exit

In [46]:
if (4>7):
    print('i am inside if block')  
else:
    print('i am inside else block')

i am inside else block

In [47]:
if (5<6):
    if(6<7):
        print('6 is existed in b/w 5 and 6')
    else:
        print('wrong choice')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [48]:
if ((5<6) and (6<7)):
    print('6 is existed in b/w 5 and 6')
else:
    print('try again')

6 is existed in b/w 5 and 6

In [50]:
if (34<56):
    print('true')
elif(34>67):
    print('i am from elif')
else:
    print('false')

true

In [51]:
if (34<56):
    print('true')
elif(341>67):
    print('i am from elif')
else:
    print('false')

true

### task1:write a logic to find biggest of 2 nums 34 and 234
### task2:biggest of 3 nums
### find given num is even or not
 - if it is even print power of that value
    - otherwise print multiply that value with 5 
### task4:write a logic a given num is 5 multiple or not

In [52]:
a=10
print(a,'is big')

10 is big

In [53]:
a=34 
b=234
if (a>b):
    print('A is Big')
else:
    print('B is Big')

B is Big

In [58]:
a=int(input('enter a value')) 
b=int(input('enter b value'))
c=int(input('enter c value'))
if ((a>b) and (a>c)):
    print('A')
elif((b>a) and (b>c)):
    print('B is Big')
else:
    print('C is Big')

enter a value5
enter b value10
enter c value15
C is Big

In [61]:
n=int(input('enter n value'))
if (n%2==0):
    print('even')
else:
    print('odd')

enter n value100
even